@import url('https://fonts.googleapis.com/css2? famille =Audiowide&family=Josefin+Sans:ital,wght@1,100&family=Rambla:ital@1&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    color:#283655 !important ;
    background-color: #f7fafa !important;
    font-family: 'Rambla',sans-serif;
}
h2,h3{
    font-family:'Audiowide',sans-serif ;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;

}
li{
    list-style: none;
}
/* *****************************HEADER***************************************** */
.navbar{
   background-color: #f7fafa;
   opacity: 0.9; 
   height: 42px;
   transition:0.7s;
}

.navbar-nav{
width: 80% !important;
margin: 0 auto;
justify-content: space-between;
}
header{
    text-align: center;
    height: 100vh;
    background: url("./media/header.jpg") no-repeat 50% 50%;    
    background-size: cover;

}
h1{
    padding: 90px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size:4.3em;
    text-transform: uppercase;
}
#line{
    height: 1px;
   background-color: #b3aca7;
   width: 25%;
   margin: 0 auto;
}
h2{
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}

.presentation{
    height: 240px;
    margin-top: 20px;
}
.infos{
    border: 1px solid #b3aca7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px  0;
}
.photo{
    border: 1px solid #b3aca7;
    position: relative;
  
}
.photo img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: auto;
    max-width: 90%;
    border-radius: 3px;
    box-shadow: 0 0 4px #111;
}
header .button{
    margin-top: 45px;
}

 header .button a{
    padding: 20px 80px;
    border: 1px solid #b3aca7;
    width: 300px;
}
.button:hover a{
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

}
.burger{
    display: none;
}



/* *****************************LANGAGES************************************** */
#langages{
    padding: 80px 80px 80px 50px;
    margin: 20px 0 0 6%; 
    height: 620px;
    width: 47%;
    max-width: 640px;
    background: linear-gradient(147deg,#ff8400 0%, rgba(255,138,0,0.43) 10%, rgba(255,98,0,0.78) 80%);
    clip-path: polygon(5% 12%, 97% 0, 95% 100%, 0 100%);

}
#langages.bar{
    padding:10px 0px 4px 0px;
    letter-spacing: 0.1em;
}
/* *****************************FORMATION***************** */
#formation{
    position: relative;
    top: -400px;
    float: right;
    margin-right: 5%;
    padding: 110px 0 60px 50px;
    width: 45%;
    max-width: 660px;
    background: linear-gradient(7deg,#2678d0 0%, rgba(51,124,212,0.43) 10%, rgba(22,111,202,0.78) 80%);
    clip-path: polygon(8% 6%, 100% 0, 100% 100%, 4% 89%);

}
#formation h4{
    font-weight: bold;
    letter-spacing: 0.08em;
    padding-bottom: 10;
    text-shadow: -1px -1px 1px #353535;
}
/* **************************PARCOURS************************************* */
#parcours{
    max-width: 800px;
    margin: 140px auto 180px auto;
    padding: 40PX 30px 100px  30px;
    background: url("./media/parcours.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
    border-radius: 8px;
    box-shadow: -1px -1px 8px #283655;
}
#parcours h4{
    font-size: 2.5em;
    padding-bottom: 30px;
    color: #ff4e50;

}
#parcours li{
    line-height: 1.9em;
    list-style:none;
}

/* **********************portefolio******************* */
#portefolio{
    margin: 100px 2% 0 2%;
    padding: 40px 10px 60px 40px;
    background-color: rgba(179,172,167,0.08);
    box-shadow: 0px 0px 1px #a8a8a9;
}
#portefolio h3{
    font-size: 3em;
    padding-bottom: 15px;
}
.projet {
display: flex;
}
.cadre{
    position: relative;
    padding: 40px 20px 25px 0;
    width: 60%;
    max-width: 600px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 10px 8px;
    color: #aca49c;
    text-align: center;

}
.imgpro1{
    height: 250px;
    width: 90%;
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 1px 1px 10px #111;
}
.imgpro1 img{
    position: relative;
    height: 100%;
    margin: 0 auto;
}

.imgpro1 :hover img{
    transform: scale(1.07);
    transform-origin: 50% 50%;
    filter: contrast(140%);
    transition: 0.3 ease-in-out;
}
.cadre:before, .cadre:after{
content: '';
display: block;
position: absolute;
width: 20%;
height: 20%;
border: 1px solid;
transition: all 0.6s ease ;
border-radius: 2px;
z-index: -1;
}
.cadre:before{
    top: 15px;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cadre:after{
    bottom: 0;
    right: 15px;
    border-top-color: transparent;
    border-left-color: transparent;
    

}
.cadre:hover:before, .cadre:hover:after{
    border-color: #aca49c;
    width: 100%;
    height: 100%;
}
/* *************************legende***************************** */
.legende{
    max-width: 350px;
    padding:50px 0 20px 0;
    opacity: 0;
    transition: 5s ease-in-out;
}
.projet:hover .legende{
    opacity: 1;
}

/* *************************footer********************************* */

footer{
    background: url("./media/footer.jpg") 50% 0% no-repeat fixed;
    background-size: cover;
    text-align: center;
    padding: 160px 50px 5px 50px;
}
footer h3{
    padding: 0 0 60px 0;
    font-size: 2.5em;
}
.footer-icons{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-bottom: 50px;
}
.network{
    font-size: 4em;
    border: 1px solid #b3aca7;
    padding: 30px 45px;
    color: #726659;
    z-index: -1 !important;
    border-radius: 50%;
}
.network:hover{
    background:#726659;
    color: #f7fafa;
    transition: 0.5s ease-in-out;
}
@media screen and (max-width: 900px){
    .nav-item{
        display: none;
    }
    #parcours h4{
        font-size: 2rem;
    }

    #formation{
        padding: 50px 0 60px 50px;
    }
    #langages h3,#formation h3{
        font-size: 20px;
    }

    .footer-icons {
        margin: 0 auto;
        display: flex;
        justify-content: CENTER;
        max-width: 60%;
        margin-bottom: 50px;
    }

}
 
